body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: #666666;
    font-weight: 400;
    position: relative;
}
ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.main-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.up-header {
    padding: 20px 0;
    .header-contact-adress {
        li {
            color: white;
            &:nth-last-child(1) {
                margin-left: 15px;
            }
            span {
                margin-left: 15px;
            }
        }
    }
    .header-social {
        li {
            margin: 0 5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.4s;
            a {
                transition: 0.4s;
            }
            &:hover {
                background-color: #0056b3;
                a {
                    color: white;
                    transition: 0.4s;
                }
            }
        }
    }
}
.white {
    background-color: white;
    padding: 25px 25px;
}
.bottom-header {
    a {
        text-decoration: none;
    }
    .burger-menu {
        display: none;
    }
    .toggle-links {
        margin: 0 30px;
        li {
            margin: 0 5px;
            position: relative;
            .a {
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    display: block;
                    top: 40%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 2.5px 0 2.5px;
                    border-color: #333333 transparent transparent transparent;
                }
            }
            > a {
                color: #333333;
                text-transform: uppercase;
                padding: 0 12px;
                position: relative;
                transition: 0.3s;
                font-weight: bold;

                &:hover {
                    color: #0056b3;
                    a {
                        ::after {
                            width: 10px;
                            border-color: #0056b3 transparent transparent transparent;
                        }
                    }
                }
            }
            > a:hover::after {
                border-color: #0056b3 transparent transparent transparent !important;
            }
            &:hover .dropdown {
                transform: scaleY(1);
            }
            .dropdown {
                background-color: #ffff;
                position: absolute;
                top: 100%;
                display: flex;
                flex-direction: column;
                width: 200px;
                transform-origin: top;
                transition: transform 0.5s ease;
                transform: scaleY(0);

                a {
                    padding: 5px 12px;
                    font-size: 14.5px;
                    color: #333333;
                    transition: 0.3s;
                    &:hover {
                        color: #0056b3;
                    }
                }
            }
        }
    }
    .appoit-button {
        a {
            font-weight: 700;
            color: white;
            padding: 15px 25px;
            background-color: #396cf0;
            position: relative;
            transition: 0.3s;
            &:hover {
                background-color: #333333;
            }
            &::after {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                border-top: 2px solid white;
                border-right: 2px solid white;
                transform: rotate(45deg);
                top: 40%;
                margin-left: 5px;
            }
        }
    }
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999999999;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}
.bottom-header.sticky {
    animation: nav 0.5s;
}
////////////////////////hero/////////////////
.hero {
    width: 100%;
    .bg-1 {
        background-image: url("../../img/home-img/1 (5).jpg");
        background-position: center center;
        background-size: cover;
    }
    .bg-2 {
        background-image: url("../../img/home-img/2 (2).jpg");
        background-position: center center;
        background-size: cover;
    }
    .bg-3 {
        background-image: url("../../img/home-img/3 (5).jpg");
        background-position: center center;
        background-size: cover;
    }

    // img {
    //     display: block;
    //     width: 100%;
    //     height: 750px;
    // }
}
.slider-detail {
    position: relative;
    width: 100%;
    height: 750px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-color: #000;
    }
    .slider-title {
        font-family: "Open Sans", sans-serif;
        font-size: 80px;
        line-height: 96px;
        font-weight: 700;
        color: white;
        z-index: 999999;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}
.top {
    animation: 1s 0.3s top both;
}
.owl-nav {
    display: block !important;
    .owl-prev {
        div {
            position: absolute;
            width: 50px;
            height: 50px;
            border: 1px solid white;
            top: 50%;
            left: 5%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            transition: 0.3s;
            &:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }
        }
    }
    .owl-next {
        div {
            position: absolute;
            width: 50px;
            height: 50px;
            border: 1px solid white;
            top: 50%;
            right: 5%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            transition: 0.3s;
            &:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }
        }
    }
}
// ===============sub hero======================
h3 {
    font-family: "Open Sans", sans-serif;
}
.sub-hero {
    position: relative;
    .sub-hero-wrapper {
        position: relative;
        border: 1px solid #eeeeee;
        background: #ffffff;
        padding: 20px;
        margin-top: -130px;
        padding: 30px 30px 0;
        z-index: 9;
        top: 5;
    }
}
.sub-card {
    transition: 0.3s;
    background: #ffffff;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    &:hover {
        box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
        transform: translateY(-10px);
    }
    .sub-card-img {
        position: relative;
        width: 100%;
        &::after {
            content: "";
            clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 81%, 0 0);
            width: 100%;
            background-color: #0056b3;
            position: absolute;
            top: 3px;
            left: 0;
            height: 100%;
        }

        img {
            z-index: 9999;
            position: relative;
            clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 81%, 0 0);
            width: 100%;
        }
    }
    .sub-card-title {
        h3 {
            font-family: "Open Sans", sans-serif;
            color: #000;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin: 10px 0;
        }
    }
}

// ===============experience=================
.def-button {
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    background-color: #396cf0;
    border: 1px solid #396cf0;
}
.experience {
    padding-top: 100px;
}
.exp-wrapper {
    .exp-img {
        img {
            clip-path: polygon(50% 5%, 100% 1%, 97% 16%, 96% 87%, 100% 100%, 51% 97%, 0 100%, 4% 84%, 4% 16%, 0 1%);
        }
    }
    .exp-title {
        h3 {
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            color: #000;
        }
        .def-button {
            margin-top: 10px;
            text-decoration: none;
            padding: 8px 30px;
            border-radius: 4px;
            color: #ffffff;
            font-size: 14px;
            display: inline-block;
            text-transform: uppercase;
            background-color: #396cf0;
            border: 1px solid #396cf0;
            transition: 0.3s;
            &:hover {
                background-color: #333333;
                color: #ffffff;
            }
        }
    }
}

.experience {
    padding-top: 100px;
    padding-bottom: 100px;
}
.care-animation {
    background-image: url("../../img/home-img/care.jpg");
    background-position: center center;
    background-size: cover;
    padding: 30px 0;
    background-attachment: fixed;
    position: relative;

    &::after {
        content: "";
        background-color: #396cf0;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
}
.care-wrapper {
    // padding: 50px 0;
    position: relative;
    z-index: 9;
    .def-button {
        color: #396cf0;
        background: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
        &:hover {
            background-color: #333333;
            color: #ffffff;
        }
    }
    .care-title:hover i {
        animation-name: aid;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        color: #333333;
    }
    .care-title {
        display: flex;
        color: #ffffff;
        position: relative;

        .care-icon {
            i {
                font-size: 60px;
                transition: 0.5s;
                position: absolute;

                // top:50%;
                &:hover {
                    color: #333333;
                }
            }
        }
        .care-text {
            padding-left: 80px;
            p {
                margin: 0;
            }
            span {
                font-weight: bold;
            }
            // color: #ffffff;
        }
    }
}

// ==================dep===============

.default-header {
    text-align: center;

    h3 {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #212529;
        position: relative;
        margin-bottom: 30px;
        &::before {
            content: "";
            display: block;
            width: 80px;
            height: 3px;
            background-color: #396cf0;
            position: absolute;
            bottom: -50%;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    p {
        max-width: 700px;
        width: 100%;
        margin: 60px auto;
    }
}
.departments {
    padding-top: 100px;
    .dep-card:hover .dep-icon i {
        background-color: #396cf0;
        color: #eaeaea;
    }
    .dep-card {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;

        .dep-icon {
            i {
                background-color: #eaeaea;
                clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
                height: 75px;
                width: 75px;
                color: #396cf0;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center;
                font-size: 30px;
                transition: all 0.3s;
            }
        }
        .dep-title {
            h3 {
                margin-top: 20px;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #212529;
            }
        }
    }
}

// ==================video============

.video {
    background-color: #396cf0;
    padding-bottom: 100px;

    .default-header {
        padding-top: 100px;
        h3::before {
            background-color: #ffffff;
        }
        h3,
        p {
            color: #ffffff;
        }
    }
    .video-box {
        background-image: url(../../img/home-img/video-bg.jpg);
        background-size: cover;
        background-position: center center;
        height: 450px;
        max-width: 750px;
        width: 100%;
        margin-bottom: -330px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        z-index: 9;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: #000;
            opacity: 0.4;
            width: 100%;
            height: 100%;
            z-index: 9;
        }
        .video-play {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
}
.modal-backdrop {
    z-index: 0;
}
.btn:focus {
    box-shadow: none;
}
.btn {
    z-index: 99;
    position: relative;
    i {
        color: white;
        font-size: 63px;
        transition: 0.3s;
        background-color: #396cf0;
        border-radius: 100%;

        &:hover {
            color: #396cf0;
            background-color: #fff;
        }
    }
}

.circle {
    animation: circle 2s infinite;
    position: absolute;
}
body.magnificpopupnoscroll {
    overflow-y: scroll !important;
}

.mfp-wrap {
    position: absolute !important;
    top: 2521px !important;
    height: 625px !important;
}

.mfp-bg {
    height: 3554px !important;
    position: absolute !important;
    // top: 2521px !important;
    bottom: 2521px !important;
}

.count {
    padding-top: 300px;
    .count-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        i {
            color: #396cf0;
            font-size: 45px;
        }
        h3 {
            font-size: 40px;
            color: #000;
            margin: 10px 0;
        }
    }
}

// ===============/docs============

.doc-wrapper {
    .doc-card {
        border: 1px solid #eeeeee;
        text-align: center;
        transition: 0.3s;
        &:hover {
            transform: translateY(-15px);
        }
        .doc-img {
            position: relative;
            transition: 0.3s;
            img {
                width: 100%;
                clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 81%, 0 0);
                transition: 0.3s;
            }
            &::before {
                content: "";

                clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 81%, 0 0);
                width: 100%;
                background-color: #0056b3;
                position: absolute;
                top: 3px;
                left: 0;
                height: 100%;
            }

            .upper {
                position: relative;
                clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 81%, 0 0);
                width: 100%;
                background-color: #0056b3;
                position: absolute;
                top: 0px;
                left: 0;
                height: 0%;
                z-index: 1;
                opacity: 0.8;
                transition: 0.3s;
            }
            .doc-social {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                li {
                    margin: 0 5px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.4s;
                    a {
                        transition: 0.4s;
                    }
                    &:hover {
                        background-color: #333333;
                        a {
                            color: white;
                            transition: 0.4s;
                        }
                    }
                }
            }
        }

        .doc-title {
            padding: 10px 35px;
            h3 {
                font-size: 20px;
                font-weight: 700;
                color: #000;
                transition: 0.3s;
            }
            span {
                color: #396cf0;
            }
        }
    }
    .doc-card:hover .doc-img .upper {
        height: 100%;
    }
    .doc-card:hover .doc-title h3 {
        color: #396cf0;
    }
}
.slick-slide {
    outline: none
}
@keyframes top {
    from {
        opacity: 0;
        top: 80%;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}
@keyframes aid {
    0% {
        opacity: 1;
        top: 0%;
    }
    25% {
        opacity: 0;
        top: 50%;
    }
    50% {
        opacity: 1;
        top: 0%;
    }
}

@keyframes nav {
    from {
        top: -30%;
    }
    to {
        top: 0%;
    }
}
@keyframes circle {
    from {
        width: 20px;
        height: 20px;
        opacity: 1;
        border-radius: 50%;
        background-color: yellow;
    }
    to {
        width: 300px;
        height: 300px;
        opacity: 0;
        border-radius: 50%;
        background-color: yellow;
    }
}
